<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneaker Detail</title>
</head>
<body>
    <app-nav-toolbar></app-nav-toolbar>

    <div class="sneaker-detail-container">
      <div class="search-bar">
        <app-search-bar></app-search-bar>
      </div>

      <div class="sneaker-info">
        <img [src]="sneaker.imagenUrl" alt="Imagen no disponible" title="{{sneaker.nombre}}" class="sneaker-image" />
        <div class="details">
          <h1>{{ sneaker.nombre }}</h1>
          <p><strong>Marca:</strong> {{ sneaker.marca }}</p>
          <p><strong>Modelo:</strong> {{ sneaker.modelo }}</p>
          <p><strong>Precio base:</strong> {{ sneaker.precioBase }}€</p>
        </div>
      </div>
    
      <div class="price-compare">
        <h2>Comparativa de precios</h2>
        <table>
          <ng-container *ngIf="prices.length > 0">
            <thead>
              <tr>
                <th>Web</th>
                <th>Precio (€)</th>
                <th>Enlace</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let price of prices">
                <td>{{ price.tienda }}</td>
                <td>{{ price.precio }}</td>
                <td><a [href]="price.url" target="_blank">Comprar</a></td>
              </tr>
            </tbody>
          </ng-container>
          <ng-container *ngIf="prices.length === 0">
            <h1>No hay resultados disponibles</h1>
          </ng-container>
        </table>
      </div>
    </div>
</body>
</html>
