<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
    <app-nav-toolbar></app-nav-toolbar>
    <div class="crud-head-container">
        <app-search-bar></app-search-bar>
        <button id="add-btn" (click)="createSneaker()">Nueva Sneaker</button>
    </div>
    <div class="crud-container">
        <table>
            <ng-container *ngIf="filteredSneakers.length > 0">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Modelo</th>
                        <th>Marca</th>
                        <th>Precio base</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sneaker of filteredSneakers">
                        <td>
                            <img [src]="sneaker.imagenUrl" alt="Imagen no disponible" title="{{ sneaker.nombre }}">
                        </td>
                        <td>{{ sneaker.nombre }}</td>
                        <td>{{ sneaker.modelo }}</td>
                        <td>{{ sneaker.marca }}</td>
                        <td>{{ sneaker.precioBase }}€</td>
                        <td class="buttons">
                            <button id="edit-btn" (click)="editSneaker(sneaker)">Editar</button>
                            <button id="delete-btn" (click)="deleteSneaker(sneaker.id)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </ng-container>
            <ng-container *ngIf="filteredSneakers.length === 0">
                <h1>No hay resultados disponibles</h1>
            </ng-container>
        </table>
    </div>

</body>
</html>
