.sneaker-price-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .price-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 1rem;
  
    button {
      color: #ffffff;
      width: 75px;
      margin-inline: 5px;
      padding: 6px 12px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  
    #add-price-btn {
      background-color: #007bff;
      width: 150px;
    }
  
    #add-price-btn:hover {
      background-color: #0056b3;
    }
  
    #save-btn {
      background-color: #00b33f;
    }
  
    #save-btn:hover {
      background-color: #0b622a;
    }
  
    #cancel-btn {
      background-color: #dc3545;
    }
  
    #cancel-btn:hover {
      background-color: #a71d2a;
    }
  }
}