<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <app-nav-toolbar></app-nav-toolbar>
    
    <div class="home-container">
        <h1 class="home-title">Encuentra tus Sneakers favoritas al mejor precio</h1>
        <div class="search-container">
            <form (submit)="onSearch()" class="search-box">
                <input type="text" [(ngModel)]="searchQuery" 
                    placeholder="Busca tu sneaker por nombre, marca, modelo..." 
                    name="search" required/>
                <button type="submit">
                    <span class="material-icons">search</span>
                </button>
            </form>
        </div>  
    </div>
</body>
</html>
