body {
  overflow: hidden;
  
  .home-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    
    .home-title {
      font-family: "Broadway", sans-serif;
      font-size: 3rem;
      color: #ffffff;
      text-shadow: 2px 2px 20px #762f00;
      margin-top: 0;
      margin-bottom: 3rem;
    }
  }
}
