.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f9f9f9;
  
    h1 {
      margin-bottom: 2rem;
      font-size: 2rem;
      color: #333;
    }
  
    .search-container {
      display: flex;
      gap: 1rem;
    }
    
    .search-container .search-box {
      width: 300px;
    }
  }
  