.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/imgs/background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
  }

  h1 {
    font-family: "Broadway", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
    color: #ffffff;
    text-shadow: 2px 2px 20px #762f00;
  }

  .tab-content {
    padding: 20px;
    text-align: center;

    .intro-text {
      font-size: 1.5rem;
      margin-bottom: 40px;
      color: #ffffff;
    }

    .info-section {
      background-color: #fef4e9;
      padding: 20px;
      border: 2px solid #762f00;
      border-radius: 8px;

      h2 {
        font-family: "Broadway", sans-serif;
        font-size: 2rem;
        margin-bottom: 15px;
        color: #762f00;
      }

      p {
        font-size: 1rem;
        margin-bottom: 15px;
        line-height: 1.5;
        color: #000000;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          font-size: 1rem;
          margin: 5px 0;

          a {
            color: #762f00;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .icon {
        height: 0;
        img {
          height: 1.5rem;
          margin-left: 5px;
        }
      }
    }
  }
}
  