<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
</head>
<body>
    <app-nav-toolbar></app-nav-toolbar>

    <div class="about-container">
        <h1>Acerca de SneakerComparEsp</h1>
        <mat-tab-group animationDuration="500ms">
            <mat-tab label="Sobre la web">
                <div class="tab-content">
                    <div class="info-section">
                        <h2>Sobre la web</h2>
                        <p>Bienvenid&#64; a <b>SneakerComparEsp</b>, el comparador definitivo para encontrar los mejores precios para comprar tus sneakers. 
                            Esta web es un proyecto del Grado Superior de Formación Profesional de Desarrollo de Aplicaciones Web (DAW), impartido en el FPD de La Rioja, 
                            donde muestro las habilidades adquiridas durante el curso, las prácticas y mis años de experiencia en la empresa privada. Además, muestro 
                            un poco de mis aficiones ya que es una temática que me encanta sobre un mundo tan bonito como es, para mí, el de las sneakers.</p>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Sobre mí">
                <div class="tab-content">
                    <div class="info-section">
                        <h2>Sobre mí</h2>
                        <p>Mi nombre es <b>Ricardo Calvo Lázaro</b>, soy estudiante de Desarrollo de Aplicaciones Web (DAW), graduado en Sistemas Microinformáticos y Redes (SMR)
                             y Desarrollo de Aplicaciones Multiplataforma (DAM). Soy programador con tres años de experiencia laboral en empresa privada y apasionado de las sneakers.</p>
                        <p>He trabajado como programador Front-end con Ionic (framework con base de TypeScript para aplicaciones móviles) y 
                            Angular (el framework con misma base pero orientado a aplicaciones web) realizando aplicaciones de control laboral, 
                            recursos humanos y proyectos a medida para empresas.</p>
                        <p>Espero que quienes visitéis esta web os guste el estilo un poco más informal que le he intentado dar para salirme 
                            de los modelos convencionales de páginas web que puedes encontrar a lo largo y ancho de Internet, apoyéis este trabajo y os 
                            contagie un poco mi pasión por las sneakers.</p>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Objetivo">
                <div class="tab-content">
                    <div class="info-section">
                        <h2>Objetivo del proyecto</h2>
                        <p>He creado esta plataforma como parte de mi Trabajo de Fin de Grado (TFG) del Grado Superior de Formación Profesional de Desarrollo de Aplicaciones Web. 
                            El objetivo es mostrar una pequeña parte de mis habilidades de programador Front-end y realizar una Web sobre un tema que me apasiona, algo fuera de lo 
                            habitual, para tener una motivación extra a la hora de realizarla.</p>
                        <p>Además, elegí este proyecto porque, como aficionado del mundo SneakerHead, vi una oportunidad de que la gente obtenga sus zapatillas favoritas al 
                            mejor precio con un par de clicks ya que, en este mundillo, encontrar tu modelo favorito se puede volver muy tedioso.</p>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Contacto">
                <div class="tab-content">
                    <div class="info-section">
                        <h2>Contacto</h2>
                        <ul>
                            <li>Teléfono: <a href="tel:+34616856282">+34 616 85 62 82</a></li>
                            <li>Correo electrónico: <a href="mailto:rcalvol03@gmail.com">rcalvol03&#64;gmail.com</a></li>
                            <li>LinkedIn: <a class="icon" href="https://www.linkedin.com/in/ricardo-calvo-l%C3%A1zaro-5bb281304/" target="_blank" aria-label="LinkedIn">
                                <img src="assets/imgs/linkedin.png" alt="LinkedIn">
                            </a></li>
                        </ul>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</body>
</html>