<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
</head>
<body>
    <app-nav-toolbar></app-nav-toolbar>

    <div class="about-container">
        <h1>Acerca de SneakerComparEsp</h1>
        <mat-tab-group animationDuration="500ms">
            <mat-tab label="Bienvenido">
                <div class="tab-content">
                    <div class="info-section">
                        <h2>Sobre la web</h2>
                        <p>Bienvenido a <b>SneakerComparEsp</b>, el comparador definitivo para encontrar las mejores ofertas en sneakers. Explora nuestra web y descubre cómo puedes ahorrar en tu próximo par.</p>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Sobre mí">
                <div class="tab-content">
                    <div class="info-section">
                        <h2>Sobre mí</h2>
                        <p>Mi nombre es Ricardo Calvo Lázaro, un apasionado de las sneakers y desarrollador web. Cree esta plataforma para ayudar a los demás a encontrar las mejores opciones en el mercado.</p>
                        <ul>
                            <li>Teléfono: <a href="tel:+34616856282">+34 616 85 62 82</a></li>
                            <li>Correo electrónico: <a href="mailto:rcalvol03@gmail.com">rcalvol03&#64;gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</body>
</html>